# String Function In Python

In [2]:
word1 = "computer"
word1

'computer'

In [3]:
word1.upper()

'COMPUTER'

In [4]:
word2 = "LENOVO"
word2

'LENOVO'

In [5]:
word2.lower()

'lenovo'

In [6]:
word3 = "SamSung"

In [7]:
word3.swapcase()

'sAMsUNG'

In [8]:
word4 = "Delhi is capital of India."

In [9]:
word4.split()

['Delhi', 'is', 'capital', 'of', 'India.']

In [11]:
type(word4.split())

list

In [12]:
type(word4)

str

In [13]:
word5 = "elon musk is ceo of tesla."

In [15]:
word5

'elon musk is ceo of tesla.'

In [16]:
word5.title()

'Elon Musk Is Ceo Of Tesla.'

In [17]:
word5.capitalize()

'Elon musk is ceo of tesla.'

In [19]:
type(word5.title())

str

In [20]:
word6 = "data science"

In [21]:
word6

'data science'

In [22]:
word6.capitalize()

'Data science'

In [23]:
word6.title()

'Data Science'

In [24]:
word5.startswith('elon')

True

In [25]:
word5.endswith("tesla")

False

In [26]:
word5.startswith("ceo")

False

In [28]:
word5.endswith("musk")

False

In [29]:
word1.islower()

True

In [30]:
a = "yogesh"
a.islower()

True

In [31]:
a.isupper()

False

In [32]:
b = "Yogesh"

In [33]:
b.isalpha()

True

In [34]:
a.isalpha()

True

In [40]:
c = "def896"

In [41]:
c

'def896'

In [42]:
c.isalpha()

False

In [43]:
c.isdigit()

False

In [44]:
d = "456434"

In [45]:
d

456434

In [51]:
x = "uyofd"
x.isdigit()

False

In [52]:
x.isalpha()

True

In [53]:
y = "dj524"
y.isdigit()

False

In [54]:
y.isalpha()

False

In [59]:
z = "4552654"
z.isdigit()

True

In [60]:
word5

'elon musk is ceo of tesla.'

In [62]:
word7 = word5.capitalize()

In [63]:
word7

'Elon musk is ceo of tesla.'

In [79]:
word7.find("e",15,23)

21

In [64]:
word7.find("musk")

5

In [65]:
word7.find("tesla")

20

In [66]:
word7.find("ceo",10,20)

13

In [73]:
word8 = "Python is popular programming."

In [74]:
word8

'Python is popular programming.'

In [75]:
word8.count("p")

3

In [76]:
word8.count("s")

1

In [78]:
word8.find("p",14,20)

18

In [80]:
word9 = "NASA is building hotel project in Mars."

In [81]:
word9.replace("NASA", "SPACEX")

'SPACEX is building hotel project in Mars.'

In [82]:
a = "data science is growing field based on data"

In [83]:
a.replace("data", "analytics")

'analytics science is growing field based on analytics'

In [84]:
text = ["NASA", "is", "building", "hotel", "project", "in", "Mars"]

In [85]:
text

['NASA', 'is', 'building', 'hotel', 'project', 'in', 'Mars']

join element of text with nospace

In [86]:
' '.join(text)

'NASA is building hotel project in Mars'

casefold ignores the matching of words by lowercase or uppercase

In [88]:
string1 = "Tesla"                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
string2 = 'tesla'

if string1.casefold()==string2.casefold():
    print("The two strings are matching")
else:
    print("The two strings are not matching")

The two strings are matching

In [ ]:
Python uses c-string formatting to create new formatted strings. The % operator is used
to format a set of variables enclosed in a "tuple" (a fixed size list), together with a format
string, which contains normal text together with "argument specifiers", special symbols
like "%s" and "%d".

In [89]:
# This prints out "Hello, John!"
name = "John"        # this is c style format
print("Hello, %s!" % name)

Hello, John!

In [90]:
print("hello ",name, "!")    # this is direct format

hello  John !

In [2]:
# This prints out "John is 23 years old."
name = "John"
age = 23
salary = 6889.876
print("%s is %d years old taking salary %f  " % (name,age,salary))

print("Salary = %0.2f " % (salary))

John is 23 years old taking salary 6889.876000
Salary = 6889.88

In [ ]:
above que any split value can change ' '.join function
above question how that is matching
how salary is come .88
replace decimal point
%0.2f what is it
below question why use only %s here if we replace %s to %e then give error
below question always first value is 0

In [ ]:
here, 0.2f is denoted decimal if here we use 0.0f then no deciaml here.

In [103]:
fruit1 = "apples"
fruit2 = "mango"
fruit3 = "grapes"

print("I like to eat %s, %s and %s " % (fruit1, fruit2, fruit3))

I like to eat apples, mango and grapes

String Format Function

In [104]:
print("People generally take {} with {}".format('coke', 'plzza'))

People generally take coke with plzza

In [105]:
print("People generally take {0} with {1}".format('Coke','Pizza'))

People generally take Coke with Pizza

In [106]:
print("people generally take {1} with {0}".format('Coke', 'Pizza'))

people generally take Pizza with Coke