# Pickle in Python: Object Serialization

In [1]:
import pickle

In [2]:
flower_dict = {1: 'Rose', 2: "Lily", 3: 'Lotus', 4: "tulip"}

In [3]:
filename = 'flower'
outfile = open(filename,'wb')

In [4]:
# filename = 'flower'
outfile = open('flower.obj','wb')

In [5]:
# pickling the file
# dump method serialize
pickle.dump(flower_dict,outfile)
outfile.close()

In [6]:
# unpickle the file
infile = open(filename,'rb')

In [7]:
# unpickle the file
infile = open('flower.obj','rb')

In [8]:
# de-serialize
# load method
new_dict = pickle.load(infile)

In [9]:
infile.close()

In [10]:
print(new_dict)

{1: 'Rose', 2: 'Lily', 3: 'Lotus', 4: 'tulip'}

In [11]:
print(new_dict == flower_dict)

True

In [12]:
print(type(new_dict))

<class 'dict'>

In [13]:
import sqlite3

working with database using SQL (Structured Query Language)

1. Create a connection object.
2. From the connection object, create a cursor object.
3. Using the cursor object, call the execute method with create table query as the parameter.

# Create Database

In [14]:
# student_database will be created in jupyter notebook home

# first connection object
db = sqlite3.connect('student_database.db')

Cursor
A cursor is SQL is a temporary work area created in system memory when a SQL statement is executed.
A SQL cursor is a set of rows together with a pointer that indentifies a current row.
It is a database object to retrieve data from a result set one row at a time.

In [17]:
# create cursor object from connection

cur = db.cursor()

# Create table in student_database

SQL data types--
integer -- numeric values
real -- character values
text -- character values
char(20) -- character values

In [18]:
cur.execute("create table student (id int primary key, name text, marks int)")

# Insert data in student table

In [20]:
cur.execute("Insert into student(id,name,marks) values(1,'john',90)")
db.commit()

In [21]:
print(cur.rowcount,'Record(s) inserted')

1 Record(s) inserted

In [23]:
cur.execute("Insert into student(id,name,marks) values(2,'Teena',100)")

# SQLITE DBMS

In [3]:
import sqlite3

In [4]:
dbcon = sqlite3.connect('mystudent_database.db')

In [5]:
cur = dbcon.cursor()

In [6]:
cur.execute("create table student (id int primary key,name test,marks int)")

In [7]:
cur.execute("insert into student(id,name,marks) values(1, 'smith', 78)")
dbcon.commit()

In [8]:
results = cur.execute("select * from student")

for i in results:
    print(i)

(1, 'smith', 78)

In [9]:
cur.execute("insert into student(id,name,marks) values(2,'john',75)")
dbcon.commit()

In [24]:
cur.execute("insert into student (id,name,marks) values(3,'jack',90)")   # only one time execute for one table
dbcon.commit()

NameError: name 'dbcon' is not defined

In [14]:
dbcon.commit()

In [13]:
results = cur.execute("select * from student")

for i in results:
    print(i)

(1, 'smith', 78)
(2, 'john', 75)
(3, 'jack', 90)

In [18]:
cur.execute("insert into student (id,name,marks) values(4, 'john', 82)")

dbcon.commit()

In [20]:
cur.execute("insert into student(id,name,marks) values(5, 'Lisa', 88)")

dbcon.commit()

In [23]:
results = cur.execute("select * from student")

for i in results:
    print(i)

(1, 'smith', 78)
(2, 'john', 75)
(3, 'jack', 90)
(4, 'john', 82)
(5, 'Lisa', 88)

In [24]:
cur.execute("insert into student values(6, 'Harry', 83)")

dbcon.commit()

In [25]:
cur.execute("insert into student values(7, 'ABC', 76),(8, 'DEF',94)")

dbcon.commit()

In [26]:
results = cur.execute("select * from student")

for i in results:
    print(i)

(1, 'smith', 78)
(2, 'john', 75)
(3, 'jack', 90)
(4, 'john', 82)
(5, 'Lisa', 88)
(6, 'Harry', 83)
(7, 'ABC', 76)
(8, 'DEF', 94)