# Sets

In [ ]:
SETS

A Python set is the collection of the unordered items. Each element in the set must be unique, immutable, and the sets
remove the duplicate elements. Sets are immutable which means we can not modify it after its creation.

Unlike other collections in Python, there is no index attached to the elements of the set, i.e., we cannot directly access
any element of the set by the index. However, we can print them all together, or we can get the list of elements by
looping through the set.

In [1]:
p = {78, 45, 33, 20, 12, 65, 90}
p

{12, 20, 33, 45, 65, 78, 90}

In [2]:
type(p)

set

In [3]:
x = {22, 33, 56, 66, 77}
x

{22, 33, 56, 66, 77}

In [4]:
y = set({33, 44, 55, 66, 77})
y

{33, 44, 55, 66, 77}

In [5]:
type(y)

set

In [9]:
x = {22, 33, 56, 78, 90, 90, 22}   # Set not allowed duplicate items.
x

{22, 33, 56, 78, 90}

In [7]:
days = {"Monday", "Tuesday", "Wednesday", "Thrusday"}
type(days)

set

In [8]:
days

{'Monday', 'Thrusday', 'Tuesday', 'Wednesday'}

In [10]:
days.add("Sunday") # element can be added anywhere because they are unordered. 
days

{'Monday', 'Sunday', 'Thrusday', 'Tuesday', 'Wednesday'}

In [11]:
print(days[0])  # because set does't support index.

TypeError: 'set' object is not subscriptable

In [12]:
days[1]="june"  # sets can't change any element because sets are immutable.
days

TypeError: 'set' object does not support item assignment

In [14]:
days

{'Monday', 'Sunday', 'Thrusday', 'Tuesday', 'Wednesday'}

In [15]:
days.remove("Sunday")
days

{'Monday', 'Thrusday', 'Tuesday', 'Wednesday'}

In [16]:
days.pop()
days

{'Thrusday', 'Tuesday', 'Wednesday'}

In [17]:
days.clear()
days

set()

In [ ]:
Note :-
    
    List       =   ordered,     index,      mutable,     duplicate,      create homogeneous value
    tuples     =   ordered,     index,      immutable,   duplicate,      create homogeneous value
    dictionary =   ordered,     key value,  mutable,     not duplicate,  different keys
    sets       =   unordered,   unindex,    immutable,   no duplicate,   create hetrogeneous value

In [ ]:
list        use   [] bracket
tuple       use   () bracket
dictionary  use   {} bracket
sets        use   {} either () bracket