# Dictionary

In [ ]:
dict = {key:value,key:value,key:value}

In [2]:
dict1 = {"Id" : 1, "Name" : "Yogesh", "Age" : 23}
dict1

{'Id': 1, 'Name': 'Yogesh', 'Age': 23}

In [3]:
dict1.keys()

dict_keys(['Id', 'Name', 'Age'])

In [4]:
dict1.values()

dict_values([1, 'Yogesh', 23])

In [5]:
dict1.items()

dict_items([('Id', 1), ('Name', 'Yogesh'), ('Age', 23)])

In [6]:
dict1

{'Id': 1, 'Name': 'Yogesh', 'Age': 23}

In [7]:
dict1.update({"fees" : 4000})
dict1

{'Id': 1, 'Name': 'Yogesh', 'Age': 23, 'fees': 4000}

In [8]:
dict1['Id']

1

In [9]:
dict1["Name"]

'Yogesh'

In [10]:
dict1["Age"]

23

In [11]:
dict1["fees"]=7800
dict1

{'Id': 1, 'Name': 'Yogesh', 'Age': 23, 'fees': 7800}

In [12]:
dict1

{'Id': 1, 'Name': 'Yogesh', 'Age': 23, 'fees': 7800}

In [13]:
dict1.pop('fees')
dict1

{'Id': 1, 'Name': 'Yogesh', 'Age': 23}

In [15]:
dict1

{'Id': 1, 'Name': 'Yogesh', 'Age': 23}

In [16]:
dict1.clear()
dict1

{}

In [17]:
del dict1

In [18]:
dict1  # Here we delete dict1 that why this code is show error.

NameError: name 'dict1' is not defined

In [19]:
dict2= {"id" : [1, 2, 3], "name" : ["yogesh", "john", "kamal"], "age" : [10, 11, 12]}
dict2

{'id': [1, 2, 3], 'name': ['yogesh', 'john', 'kamal'], 'age': [10, 11, 12]}

In [20]:
dict2.values()

dict_values([[1, 2, 3], ['yogesh', 'john', 'kamal'], [10, 11, 12]])

In [21]:
dict2.keys()

dict_keys(['id', 'name', 'age'])

In [22]:
dict2["name"]

['yogesh', 'john', 'kamal']

In [23]:
dict2["age"]

[10, 11, 12]

In [40]:
dict2["id"][0]

1

In [42]:
dict2['id'][1]

2

In [43]:
dict2['id'][2]

3

In [44]:
dict2['name']

['yogesh', 'john', 'kamal', 'aman', 'aman', 'aman']

In [45]:
dict2['name'][0]

'yogesh'

In [46]:
dict2['name'][1]

'john'

In [48]:
dict2

{'id': [1, 2, 3], 'name': ['yogesh', 'john', 'kamal', 'aman', 'aman', 'aman']}

In [28]:
dict2["name"][1]

'john'

In [29]:
dict2["name"][0]

'yogesh'

In [30]:
dict2["id"][1]

2

In [33]:
dict2["name"].append("aman")
dict2

{'id': [1, 2, 3], 'name': ['yogesh', 'john', 'kamal', 'aman', 'aman', 'aman']}

In [50]:
del dict2

In [51]:
dict2   # because dict2 is already delete.

NameError: name 'dict2' is not defined

In [34]:
dict3= {"id" : [1, 2, 3], "name" : ["yogesh", "john", "kamal"], "age" : [10, 11, 12]}
dict3

{'id': [1, 2, 3], 'name': ['yogesh', 'john', 'kamal'], 'age': [10, 11, 12]}

In [35]:
dict3["age"][1] = 55

In [36]:
dict3

{'id': [1, 2, 3], 'name': ['yogesh', 'john', 'kamal'], 'age': [10, 55, 12]}

In [37]:
dict3.pop("id")

[1, 2, 3]

In [38]:
dict3

{'name': ['yogesh', 'john', 'kamal'], 'age': [10, 55, 12]}

In [39]:
dict3["name"].append("shiva")
dict3

{'name': ['yogesh', 'john', 'kamal', 'shiva'], 'age': [10, 55, 12]}

In [52]:
dict3.update({'Marks' : [34, 56, 77]})
dict3

{'name': ['yogesh', 'john', 'kamal', 'shiva'],
 'age': [10, 55, 12],
 'Marks': [34, 56, 77]}