# OOPS

In [5]:
class student:
    # initialization Constructor / Default Constructor
    def __init__(self,rollno,name,fees):
        self.rollno = rollno
        self.name = name
        self.fees = fees
    
    def display(self):
        print("Roll No =",self.rollno," Name =",self.name," Fees =",self.fees)

In [6]:
# Creating Object / Instance
# object name = class name

stud1 = student(10, 'Yogesh', 5487)     # calling initialization constructor automatically
stud1.display()

Roll No = 10  Name = Yogesh  Fees = 5487

In [7]:
stud2 = student(12, 'Shiva', 45210)   # call constructor
stud2.display()

Roll No = 12  Name = Shiva  Fees = 45210

In [12]:
stud3 = student(25, 'Shiva', 65230)
stud3.display()

Roll No = 25  Name = Shiva  Fees = 65230

In [13]:
stud1.rollno

10

In [14]:
stud1.name

'Yogesh'

In [15]:
stud1.fees

5487

In [16]:
stud2.rollno

12

In [17]:
stud2.name

'Shiva'

In [18]:
stud2.fees

45210

In [19]:
stud3.name

'Shiva'

In [20]:
stud3.rollno

25

In [21]:
stud3.fees

65230

In [34]:
class employee:
    company = 'Google'         # class variable
    def __init__(self,emp_id,emp_name):
        self.emp_id = emp_id               # Instance variable
        self.emp_name = emp_name           # Instance variable
        
    def display(self):
        print("Emp id is ----> ",self.emp_id)
        print("Emp name is ----> ",self.emp_name)

In [35]:
# Object creation

emp1 = employee('542', 'kapil')
emp1.display()

Emp id is ---->  542
Emp name is ---->  kapil

In [36]:
emp2 = employee('45412', "yogesh")
emp2.display()

Emp id is ---->  45412
Emp name is ---->  yogesh

In [40]:
employee.company

'Google'

In [42]:
emp1.emp_id

'542'

In [43]:
emp2.emp_name

'yogesh'

In [1]:
class Person:
#     initialization constructor
    def __init__(self,pid,name,age):
        self.pid = pid    # data member
        self.name = name
        self.age = age
        
    def displaydata(self):
        print("Person id =",self.pid,"person Name =",self.name,"person Age =",self.age)
p1 = Person(201,'Yogesh',23)
p1.displaydata()

Person id = 201 person Name = Yogesh person Age = 23

Question )  Write a  program to make a class of simplified airthmetic operation and try to get the output of that class through the object ?

In [9]:
class simplified:
    def function(self,a,b):
        add = a + b
        sub = a - b
        mul = a * b
        div = a / b
        mod = a // b
        print("the addition is----> ",add, "the subtraction is---- ",sub, "the multiply is---- ",mul, "the divide is----> ",div, "the module is----> ",mod)
a = simplified()
a.function(5,7)

the addition is---->  12 the subtraction is----  -2 the multiply is----  35 the divide is---->  0.7142857142857143 the module is---->  0

Question )  Write a program to make a class of car and find its actual price if the car is of more than 10 lakh then there is a tax of 14% on the car and if the cost of car is less than 10 lakh then there is some discount of 7.8% on the car. Find the actual price of the paid by the user ?

In [33]:
class car:
    def __init__(self,price):
        self.price = price
    
    def display(self):
        tax = (14 * price)/100
        car_tax = price + tax
        dis = (7.8 * price)/100
        car_dis = price - dis
        if price > 1000000:
            print("Your tax amount is =",tax)
            print("Your Total amount after tax is =",car_tax)
        elif price == 1000000:
            print("your car price is same.")
        elif price < 1000000:
            print("Congratulation you have a discount.")
            print("Your discount amount is =",dis)
            print("Your total amount after discount is =",car_dis)
        else:
            print("Invalid Input.")
c = car(264324)
c.display()

Congratulation you have a discount.
Your discount amount is = 1201.2
Your total amount after discount is = 14198.8

In [1]:
class Player:
    
    def __init__(self,name,age,sport):
        print("Initialized data for players")
        self.name = name
        self.age = age
        self.sport = sport
        
    def getdata(self,name,age,sport):
        print("Getting data for players")
        self.name = name
        self.age = age
        self.sport = sport
        
    def displaydata(self):
        print("Player details :",self.name,self.age,self.sport)
        
def main():
    p = Player("Virat",35,"Cricket")
    p.displaydata()
        
    p.getdata("Richard",45,"Tennis")
    p.displaydata()

if __name__ == "__main__":
    main()

Initialized data for players
Player details : Virat 35 Cricket
Getting data for players
Player details : Richard 45 Tennis

In [2]:
class Employee():
    def __init__(self,name,age,id,salary):
        self.name = name  # self is an instance of a class
        self.age = age
        self.salary = salary
        self.id = id
        
    def display(self):
        print("inside display function")
        print(self.name,self.age,self.id,self.salary)
        
emp1 = Employee("John",26,2000,234)   #creating objects
emp2 = Employee("Andrew",30,3000,235)
emp1.display()
emp2.display()

inside display function
John 26 2000 234
inside display function
Andrew 30 3000 235